html
	head
		title Live Stream Demo
		style.
			#info  {
				width: 50%;
				float: left;
				white-space: pre-wrap;      /* CSS3 */   
				white-space: -moz-pre-wrap; /* Firefox */    
				white-space: -pre-wrap;     /* Opera <7 */   
				white-space: -o-pre-wrap;   /* Opera 7 */    
				word-wrap: break-word;      /* IE */
			}
			#view  {
				width: 50%;
				float: right
			}
			label, input {
				margin: 10px;
			}
		|<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		
	body
		#info
			form(action="#" method="POST" onsubmit="createLiveStream(this); return false;")
				label ChannelID
				input(type="text" name="channelID" value="1")
				br
				label Title
				input(type="text" name="title" placeholder="Your stream name")
				br
				input(type="hidden" name="action" value="create")
				button(type="submit") Create Stream
			br
			label 
				| Your stream url: 
				span#url 
					| Click Create Stream to generate url
			br
			label Key:
				span#key 
					| Click Create Stream to generate key
			form(action="#" method="POST" onsubmit="endLiveStream(this); return false;")
				input#key_input1(type="hidden" name="key" value="")
				input(type="hidden" name="action" value="end")
				button(type="submit") End Stream
			form#status(action="#" method="POST" onsubmit="checkStatus(this); return false;")
				input#key_input2(type="hidden" name="key" value="")
				input(type="hidden" name="action" value="status")
			label Status:
				span#statusStr 
					

		#view
			
			label Key:
			input#view_input(type="text" name="title" placeholder="key to view" value="")
			button(onclick="changePlayer()") Watch Live
			br
			#player_wrapper


	script.
		setInterval(function(){
			if (window.keyStr){
				statusLiveStream(document.getElementById("status"));
			}
		},1000)

		var changePlayer = function(){
			var key = document.getElementById("view_input").value;
			document.getElementById("player_wrapper").innerHTML = '<iframe src="/demo/'+key+'" style="width:100%; height:50%" allowfullscreen scrolling="no"></iframe>'
		}

		var createLiveStream = function(obj){
			var fd = new FormData(obj);
			console.log(fd)
			$.ajax({
				method:"post",
				url:"/demo",
				data: fd,
				enctype: 'multipart/form-data',
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				dataType:"json",
				success: function(resp){
					document.getElementById("url").innerHTML = "rtmp://dev.mecloud.vn:1935/live/" + resp.key
					document.getElementById("key").innerHTML = resp.key	
					document.getElementById("key_input1").value = resp.key	
					document.getElementById("key_input2").value = resp.key
					window.keyStr = resp.key				
				},
				error: function(){
					alert("error")							
				}
			});
		}

		var endLiveStream = function(obj){
			var fd = new FormData(obj);
			$.ajax({
				method:"post",
				url:"/demo",
				data: fd,
				enctype: 'multipart/form-data',
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				dataType:"text",
				success: function(resp){
					//- console.log(resp)	
				},
				error: function(){
					alert("error")							
				}
			});
		}

		var statusLiveStream = function(obj){
			var fd = new FormData(obj);
			$.ajax({
				method:"post",
				url:"/demo",
				data: fd,
				enctype: 'multipart/form-data',
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				dataType:"text",
				success: function(resp){
					//- console.log(resp)	
					document.getElementById("statusStr").innerHTML = resp
				},
				error: function(){
					alert("error")							
				}
			});
		}

