<!DOCTYPE html>
html
	head
		script(src='http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js' type='text/javascript')
		link(href='http://vjs.zencdn.net/5.10.8/video-js.css', rel='stylesheet')

		style.
			html, body { height: 100%; width: 100%; margin: 0; }
			.vjs-paused .vjs-big-play-button { display: none; }
			.vjs-playing .vjs-big-play-button { display: none; }
	body
		video#my-video.video-js(controls='', preload='auto', style="height:100%; width:100%")
			source(src="#{stream_url}" type="application/x-mpegURL")
			p.vjs-no-js
					| To view this video please enable JavaScript, and consider upgrading to a web browser that
					a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
		script(src='http://vjs.zencdn.net/5.10.8/video.js' type='text/javascript')
		script(src='http://103.27.237.224:7559/static/js/hls.js', type='text/javascript')
		script.
			var player = videojs("my-video");
			player.on("play", function(){
				console.log("video play")
			})
			player.on("pause", function(){
				console.log("pause vide")
			})
			
			player.on("loadedplaylist", function(){
				console.log("loadedplaylist")
			})
			player.on("mediachange", function(){
				console.log("mediachange")
			})
			player.on('waiting', function(){
				console.log("waiting...")
			})

			player.on('stalled', function(){
				console.log("stalled...")
			})