doctype html
html(lang='en')
	head
	body
		h1 Hello World!
		#future
		form#form
			input#chat_input(type='text')
			input(type='submit', value='Send')
		script(src='https://code.jquery.com/jquery-1.10.2.js')
		|<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		script.
			function Utf8ArrayToStr(array) {
				var out, i, len, c;
				var char2, char3;

				out = "";
				len = array.length;
				i = 0;
				while(i < len) {
					c = array[i++];
					switch(c >> 4)
					{
					  case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:
						// 0xxxxxxx
						out += String.fromCharCode(c);
						break;
					  case 12: case 13:
						// 110x xxxx   10xx xxxx
						char2 = array[i++];
						out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));
						break;
					  case 14:
						// 1110 xxxx  10xx xxxx  10xx xxxx
						char2 = array[i++];
						char3 = array[i++];
						out += String.fromCharCode(((c & 0x0F) << 12) |
									   ((char2 & 0x3F) << 6) |
									   ((char3 & 0x3F) << 0));
						break;
					}
				}

				return out.substring(out.length-100, out.length-1);
			}

			var socket = io.connect('http://103.27.237.224:6758');
			socket.binaryType = 'arraybuffer';
			socket.send(new ArrayBuffer);

			socket.on('connect', function(data) {
				socket.emit('join', 'Hello World from client');
			});
			socket.on('messages', function(data) {
				console.log(data)
				//- console.log(Utf8ArrayToStr(new Uint8Array(data)));
			});