doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=1200')
		title meCloud Test 3
		script(type='text/javascript', src='//mecloud.vn/api/head')
		// End Page Script
	body
		.wrapper
			.container
				.containerTable
					#meme_sidebar.sidebar
					// end sidebar
					.wrapperContent
						#meme_header.header.clearfix
						// end header
						script(src='//mecloud.vn/api/commonRender', type='text/javascript', async='true')
						#meme_page_content.content
							block content