extends ./default.jade

block content
	link(href='//static.mecloud.vn/css/jquery.tagsinput.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/sumoselect-1.02.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/datepicker.css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery-ui.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery.validate/jquery.validate.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/meme.mesage/meme-message-1.00.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/video/css/video-custom-1.00.css', type='text/css', rel='stylesheet')
	.boxBreadcrumb
		ul.breadcrumb.clearfix
			li
				a(href='/') meCloud
				i.fa.fa-angle-right
			li.active
				| Create New Live Event
	
	.tabsGlobal
		form#idFormEdit.form-horizontal(action='', method='post', onsubmit="createLiveEvent(this) ;return false;" enctype='multipart/form-data', novalidate='novalidate')
			ul.tabs
				li.current
					a(href='#basicUpload') Create
			.tabsContentGlobal
				#basicUpload.tableData.current
					.rowForm
						.formUpload.clearfix
							.col50p
								.formGroup
									label Tiêu đề
									input#title.formGlobal(name='title', type='text', value="#{name}")
								.formGroup
									label Mô tả
									textarea#description.formGlobal(name='description', value="#{description}", rows='3')
								.formGroup
									label Thẻ
									#tags-none.tagsinput(style='width: 100%; min-height: 103px; height: 103px;')
										div
											input.valid(data-default='Thêm thẻ', style='color: rgb(153, 153, 153); width: 88px;', aria-invalid='false')
										.tags_clear
									input#tags(name='tags', style='display:none;')
							.col50p.clearfix
								.formGroup
									label Thời gian phát sóng
									button#goNowButton.btn.blue.btnDefault(style="margin-right: 10px; color: white" type='button', onclick='mmLive.hideSchedule(this);') Go Live Now
									button#scheduleButton.btn.btnDefault(type='button', onclick='mmLive.showSchedule(this);') Schedule	
									.schedule(style="display:inline; visibility: hidden;" )
										input#timing(type="hidden" name="timing" value="#{timing}")
										label( style="display:inherit; margin: 0 10px;") Vào lúc
										input.formGlobal(style="display:inherit; margin: 10px 10px; width:100px" name='date', type="text" value="#{date}")
										input.formGlobal(style="display:inherit; margin: 10px 10px; width:50px" name='hour', type="text" value="#{hour}")
										label( style="display:inherit; margin: 10px 10px;") giờ
										input.formGlobal(style=" display:inherit; width:50px" name='minute', type="text" value="#{minute}")
										label( style="display:inherit; margin: 10px 10px;") phút
								.clear

								.formGroup
									label Thể loại
									.mm-type
										#type-select-none.SumoSelect
											p.CaptionCont.SlectBox
												span.placeholder
												label
													span.fa.fa-caret-down
											.optWrapper.multiple
												ul.options
													li(data-val='1')
														span
															i.fa.fa-square
															i.fa.fa-check-square
														label Phim
												.MultiControls
													p.btnOk OK
													p.btnCancel Cancel
										select#types_ids.selectType(name='types_ids', multiple='multiple', style='display: none;')
											option(value='2') Âm nhạc
											option(value='3') Thể thao
											option(value='4') Game
											option(value='5') Tin tức
											option(value='6') Hài hước
											option(value='7') Chuyện lạ
											option(value='8') Giải trí
											option(value='9') Truyền hình
											option(value='10') Người nổi tiếng
											option(value='11') Xe cộ
											option(value='12') Công nghệ
											option(value='13') Thời trang
											option(value='14') Động Vật
											option(value='15') Làm đẹp
											option(value='16') Hướng dẫn
											option(value='17') Kinh doanh
											option(value='18') Trẻ em
											option(value='19') Gia đình
											option(value='20') Cộng đồng mạng
											option(value='21') Khoa học
											option(value='22') Giáo dục
											option(value='23') Sức khoẻ
											option(value='24') Thế giới
											option(value='25') Y tế
											option(value='26') Du lịch
											option(value='27') Ẩm thực
											option(value='28') Thiên nhiên
											option(value='29') Chính trị
											option(value='30') Tôn giáo
								.formGroup
									label Chuyên mục
									.wselect.mm-category
										#category-select-none.SumoSelect
											p.CaptionCont.SlectBox
												span.placeholder Chọn chuyên mục
												label
													span.fa.fa-caret-down
											.optWrapper.multiple
												ul.options
													li(data-val='1')
														span
															i.fa.fa-square
															i.fa.fa-check-square
														label Phim
												.MultiControls
													p.btnOk OK
													p.btnCancel Cancel
										select#categories_ids.selectCategory(name='categories_ids', multiple='multiple', style='display: none;')
											option(value='35') Hài
											option(value='38') Thử nghiệm
											option(value='390') Phim Âu Mỹ
										button.btn.btnDefault(type='button', onclick='mmLive.addCategory();') Thêm chuyên mục

								.formGroup
									label Hình ảnh đại diện
									.thumbUpload
										img(src='#{image}', width='153', height='86', alt='Image Default')
										.btn.blue.btnUploadFile
											i.fa.fa-picture-o
											| Upload hình ảnh
											input#image_file(onchange='mmLive.loadImage($(this));', accept='image/*', type='file', name='image_file')
										p Dung lượng tối đa cho một file hình là 5M
										p
											| Nếu bạn không upload hình, hình đại diện sẽ tự động tạo sau khi video xử lý hoàn thành
						// end formUpload
				
				.actionForm.clearfix
					input#videoId(name='videoId', type='hidden')
					input#channelId(type='hidden', name='channelId', value='1')
					input#time(name='time', type='hidden', value='1473306041744')
					input#signkey(name='signkey', type='hidden', value='59f07747e462f60667b217e6383de756')
					input#key(name='key', type='hidden', value='#{key}')
					button.btn.btnPrimary.mr0.floatLeft(style="margin: 10px" type='submit') Update
					button.btn.btnPrimary.mr0.floatLeft(style="margin: 10px" onclick="window.location=\"/live/view/#{key}\"; return false") View Stream
	script.
		function updateLiveEvent(obj){
			var fd = new FormData(obj);
			$.ajax({
				method:"post",
				url:"/live/update",
				data: fd,
				enctype: 'multipart/form-data',
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				dataType:"json",
				success: function(resp){
					console.log(resp)				
				},
				error: function(){
					alert("error")							
				}
			});
		}

	script.
		window.configPLUPLOAD = {
		maxFileSize: '10G'
		};

		window.meCloudLANGUAGE = {
		error : {
		_001: "Hệ thống channel đang bận hoặc bạn không có channel nào.",
		_002: "Có lỗi xảy , vui lòng thử lại sau.",
		_003: "Yêu cầu đăng nhập.",
		_004: "Bạn chưa có quyền truy cập channel nào.",
		_005: "Bạn không có quyền thêm video.",
		_006: "Hệ thống quản lý đang bận, vui lòng thử lại sau.",
		_007: "Bạn không có quyền xem video này.",
		_008: "Thao tác không hợp lệ.",
		_009: "Bạn không có quyền sửa video này.",
		_010: "Bạn không có quyền cài đặt quảng cáo cho video này.",
		_011: "Live Url không hợp lệ.",
		_012: "Mô tả video không hợp lệ, vui lòng nhập 10-1.000 ký tự.",
		_013: "Tiêu đề video không hợp lệ, vui lòng nhập 3 đến 100 ký tự.",
		_014: "Dung lượng file ảnh vượt quá 5M.",
		_015: "Đinh dạng file hình ảnh không hợp lệ.",
		_016: "Bạn chưa chọn tập tin video.",
		_017: "Không thể chọn nhiền hơn 3 thể loại.",
		_018: "Chưa chọn thể loại.",
		_019: "Không thể chọn nhiền hơn 3 chuên mục.",
		_020: "Không thể kết nối đến máy chủ.",
		_021: "Live Url không đúng định dạng, ví dụ: http://abc.com/video-abc hoặc https://abc.com/video-abc.",
		_022: "Nhập live url không thể nhiều hơn {0} ký tự.",
		_023: "Bạn chưa chọn hình ảnh.",
		_024: "Không đúng định dạng hình ảnh video, hỗ trợ(jpg, jpeg, gif, png).",
		_025: "Tên không hợp lệ, vui lòng nhập 3 đến 50 ký tự.",
		_026: "Chưa nhập link video.",
		},
		success: {
		_001: "Thao tác thành công.",
		_002: "Thông báo",
		_003: "Upload file video thành công.",
		_004: "Upload thành công file",
		_005: "Bạn đã huỷ upload video này",
		},
		video: {
		chooseTypes: "Chọn thể loại",
		chooseCategories: "Chọn chuyên mục",
		addCategories: "Thêm chuyên mục",
		addTags: "Thêm thẻ",
		selectedCategories: "Đã chọn {0} thể loại",
		selectedTypes: "",
		saveImage: 'Lưu hình ảnh',
		saveCropImage: 'Lưu hình ảnh cắt',
		saveDefaultImage: 'Lưu hình ảnh gốc',
		confirmCancelingUpload: 'Xác nhận hủy upload',
		do_you_want_to_cancel_upload: 'Bạn có muốn hủy upload',
		ok: 'Đồng ý',
		uploading_file: 'Đang upload file',
		cancel_upload: 'Hủy upload',
		processing: 'Video đang xử lý',
		client_lost_internet_connection: 'Client bị mất kết nối internet',
		in: 'trong',
		seconds_if_you_dont_have_internet_video_upload_process_will_be_canceled: "",
		save: 'Lưu thông tin',
		cancel: 'Hủy',
		name: 'Tên',
		video_uploading: 'Video đang upload',
		instructions_uploads_by_link: 'Hướng dẫn upload bằng link',
		video_upload_link_should_be_made_public_can_upload_mecloud: 'Link video upload phải là video được công khai (publish) mới có thể upload lên mecloud.',
		copy_the_link_in_the_address_bar_of_the_browser_when_viewing_the_video_to_upload: 'Copy link trên thanh địa chỉ của trình duyệt khi xem video cần upload',
		see_some_examples_below: 'Hãy xem vài ví dụ bên dưới',
		ex: 'Ví dụ: http://trangweb.vn/video-hay.html',
		},
		};

	script(src='//static.mecloud.vn/js/jquery-ui.min.js')
	script(src='//static.mecloud.vn/libs/jquery.datetimepicker/jquery.datetimepicker.js')
	script(src='//static.mecloud.vn/libs/jquery.validate/jquery.validate.js')
	script(src='//static.mecloud.vn/libs/jquery.validate/additional-methods.min.js')

	script(src='//static.mecloud.vn/js/jquery.tagsinput.js')
	script(src='//static.mecloud.vn/js/jquery.sumoselect.min-1.01.js')
	script(src='//static.mecloud.vn/libs/meme.mesage/meme-message-1.00.js')
	//- script(src='//static.mecloud.vn/video/js/video-related-search-1.03.js')
	script(src='/live/static/js/live.js')