extends ./default.jade

block content
	link(href='//static.mecloud.vn/css/jquery.tagsinput.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/sumoselect-1.02.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/datepicker.css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery-ui.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery.validate/jquery.validate.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/meme.mesage/meme-message-1.00.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/video/css/video-custom-1.00.css', type='text/css', rel='stylesheet')
	

		
	
	//- script(type="text/javascript" src="http://static.mecloud.vn/js/jquery.min.js")
	script(type="text/javascript" src="http://static.mecloud.vn/js/flotChart/jquery.flot.min.js")
	script(type="text/javascript" src="http://static.mecloud.vn/js/flotChart/jquery.flot.tooltip.min.js")
	script(type="text/javascript" src="http://static.mecloud.vn/js/flotChart/jquery.flot.resize.js")
	script(type="text/javascript" src="http://static.mecloud.vn/js/flotChart/jquery.flot.categories.js")
	script(type="text/javascript" src="http://static.mecloud.vn/js/flotChart/jquery.flot.pie.min-1.00.js")

	.boxBreadcrumb
		ul.breadcrumb.clearfix
			li
				a(href='/') meCloud
				i.fa.fa-angle-right
			li.active
				| View Live Stream

	.tabsGlobal
		ul.tabs
			li.simple
				span#statusIcon.statusLs.offline
				span#statusLabel #{statusLabel}
			li.btnHelpLs
				a(href='#') Hướng dẫn phát trực tiếp
		.tabsContentGlobal
			.contentPreviewLs
				.preview(style="width:500px;margin-left: auto; margin-right: auto")
					|<script type="text/javascript" src="//embed.mecloud.vn/preview/#{aliasId}"></script>
				// end preview-sp
				.wrapperCustomBox.clearfix
					.colCustomBox
						.customBox
							.headCustomBox.clearfix
								h4 Thời điểm phát

								button#editSchedule.btn.btnPrimarySmall.btnEditPlayer(type='button') Edit
								button#liveButton.btn.btnPrimarySmall.red.btnEndLs(publish="#{publish}" type='button', onclick='clickLiveButton(this);') #{liveButton}
							.contentCustomBox
								.rowCB
									.fieldCB
										label Thời điểm phát sóng:
										- if (locals.schedule == true)
											p#scheduleInfo #{date} lúc #{hour}:#{minute}
										-else
											p#scheduleInfo Not schedule yet
							// end contentCustomBox
							.contentCustomBoxEdit
								.rowCB
									.fieldCB
										.formGroup.rmb
											label Thời điểm phát sóng
											.table.timeLsNow
												.col
													.calendar
														span.fa.fa-calendar
														input.formGlobal.calendar(type='text' id="schedule_date" data-date-format='dd/mm/yyyy' value="#{date}")
												.col
													.timeLs
														span lúc
														input#schedule_hour.formGlobal(type='text', value='#{hour}:#{minute}')
								
								.rowCB
									button.btn.btnPrimary(type='button' onclick="schedulePublish()" ) Save
									button.btn.btnDefault.btnCancelEditPlayer(type='button') Cancel
							// end contentCustomBoxEdit
						// end customBox
						.customBox
							.headCustomBox.clearfix
								h4 Thông tin phát trực tiếp
								button.btn.btnPrimarySmall.btnEditPlayer(type='button') Edit
							script(type='text/javascript').
								$(document).ready(function () {
								//Edit
								var btnEditPlayer = $('.btnEditPlayer');
								btnEditPlayer.on('click',function(){
								$(this).hide();
								$('#liveButton').hide()
								$(this).closest('.customBox').find('.contentCustomBox').hide();
								$(this).closest('.customBox').find('.contentCustomBoxEdit').show();
								$(this).closest('.wrapperCustomBox').find('.customBox').addClass('editing');
								$(this).closest('.customBox').removeClass('editing');
								});
								//Cancel Edit
								var btnCancelEditPlayer = $('.btnCancelEditPlayer');
								btnCancelEditPlayer.on('click',function(){
									$('#liveButton').show()
									btnEditPlayer.show();
									$(this).closest('.customBox').find('.contentCustomBox').show();
									$(this).closest('.customBox').find('.contentCustomBoxEdit').hide();
									$(this).closest('.wrapperCustomBox').find('.customBox').removeClass('editing');
									});
								});
							.contentCustomBox
								.rowCB
									.fieldCB
										label Tiêu đề:
										p #{title}
								.rowCB
									.fieldCB
										label Miêu tả:
										p #{description}
								.rowCB
									.fieldCB
										p Hình đại diện:
									.fieldCB
										img.imageDefaultPlayer(src='#{imagePath}')
							// end contentCustomBox
							.contentCustomBoxEdit
								form(onsubmit="editInfo(this); return false;")
									.rowCB
										.fieldCB
											label Tiêu đề:
											input.formGlobal(name="title", type='text', placeholder='Nhập tiêu đề', value='#{title}')
									.rowCB
										.fieldCB
											label Miêu tả:
											textarea.formGlobal(name="description", placeholder='Nhập miêu tả', rows='3')
												| #{description}
									.rowCB
										.fieldCB.clearfix
											strong.fixHeightField.floatLeft Default image
										.fieldCB
											img.imageDefaultPlayer(src='#{imagePath}')
											.btn.btnUploadFile.btnPrimarySmall.mt20
												i.fa.fa-photo
												| Change
												input(type='file', name='upload', onchage="updateImage()")
									.rowCB
										input(type="hidden" name="aliasId" value="#{aliasId}")
										button.btn.btnPrimary(type='submit') Save
										button.btn.btnDefault.btnCancelEditPlayer(type='button') Cancel
						.customBox
							.headCustomBox.clearfix
								h4 Tình trạng của luồng
							.contentCustomBox.p20
								#activity.healthLs
								script.
									function addActivity(status, overall, timestamp, summary, details){
										if (status=="nodata"){
											var html = '<div class="healthLs-item dataLs-nodata"><span class="healthLs-timestamp">[TIME]</span><span class="healthLs-overall">[OVERALL]</span><span class="healthLs-summary">[SUMMARY]</span><div class="healthLs-details-container"><div class="healthLs-details"><span class="healthLs-desc">[DETAILS]</span></div></div></div>'	
										}
										if (status=="good"){
											var html = '<div class="healthLs-item dataLs-good"><span class="healthLs-timestamp">[TIME]</span><span class="healthLs-overall">[OVERALL]</span><span class="healthLs-summary">[SUMMARY]</span><div class="healthLs-details-container"><div class="healthLs-details"><span class="healthLs-desc">[DETAILS]</span></div></div></div>'	
										}
										if (status=="ok"){
											var html = '<div class="healthLs-item dataLs-ok"><span class="healthLs-timestamp">[TIME]</span><span class="healthLs-overall">[OVERALL]</span><span class="healthLs-summary">[SUMMARY]</span><div class="healthLs-details-container"><div class="healthLs-details"><span class="healthLs-desc">[DETAILS]</span></div></div></div>'	
										}
										html = html.replace("[OVERALL]",overall)
										html = html.replace("[TIME]",timestamp)
										html = html.replace("[SUMMARY]",summary)
										html = html.replace("[DETAILS]",details)
										document.getElementById("activity").innerHTML = document.getElementById("activity").innerHTML + html;
									}	
					.colCustomBox
						.customBox
							.headCustomBox.clearfix
								h4 Thống kế số người đang xem
							.contentCustomBox.p20
								#realtimeInfo.realtimeLs #{realtime}
						.customBox
							.headCustomBox.clearfix
								h4 Thiết lập bộ mã hóa
							.contentCustomBox.p20
								.formGroup
									label URL máy chủ:
									input.formGlobal(type='text', readonly, value='#{rtmp_url}')
								.formGroup.rmb
									label Tên/khóa luồng
									.streamKey
										input#inputSk.formGlobal(type='text', readonly, value='#{key}')
						.customBox
							.headCustomBox.clearfix
								h4 Mã nhúng
							.contentCustomBox.p20
								.table
									.col.colForm
										input#inputEmbedLs.formGlobal(type='text', value='<script type="text/javascript" src="http://embed.mecloud.vn/live/#{aliasId}"></script>')
								//- #realtimeChart(style='height:250px')
								//- script(type='text/javascript').
								//- 	////////realtime chart
								//- 	var vDataRealtime = [['03:00:00',100], ['03:00:04', 95], ['03:00:08', 190], ['03:00:12', 284], ['03:00:16', 68], ['03:00:20', 46], ['03:00:24', 79], ['03:00:28', 89]];
								//- 	$("#realtimeChart").length && $.plot($("#realtimeChart"), [{
								//- 	data: vDataRealtime,
								//- 	label: "Số người đang xem"
								//- 	}],
								//- 	{
								//- 	series: {
								//- 	lines: {
								//- 	show: true,
								//- 	lineWidth: 1,
								//- 	fill: true,
								//- 	fillColor: {
								//- 	colors: [{
								//- 	opacity: 0.3
								//- 	}, {
								//- 	opacity: 0.3
								//- 	}]
								//- 	}
								//- 	},
								//- 	points: {
								//- 	show: true
								//- 	},
								//- 	shadowSize: 2
								//- 	},
								//- 	grid: {
								//- 	hoverable: true,
								//- 	clickable: true,
								//- 	tickColor: "#f0f0f0",
								//- 	borderWidth: 0
								//- 	},
								//- 	colors: ["#04c2d8","#04c2d8"],
								//- 	xaxis: {
								//- 	mode: "categories",
								//- 	},
								//- 	yaxis: {
								//- 	ticks: 5,
								//- 	tickDecimals: 0
								//- 	},
								//- 	tooltip: true,
								//- 	tooltipOpts: {
								//- 	content: "Có %y đang xem trực tuyến lúc %x",
								//- 	defaultTheme: false,
								//- 	shifts: {
								//- 	x: 0,
								//- 	y: 20
								//- 	}
								//- 	}
								//- 	}
								//- 	);
							// end contentCustomBox
						// end customBox
						
									
	script.
		function genTimeString(time, concatStr){
			concatStr = concatStr || "";
			var date = new Date(time);
			function twoDigit(s){
				s = s + "";
				while (s.length<2) s = "0"+s;
				return s
			}
			return twoDigit(date.getDate()) + "/" + twoDigit(date.getMonth()+1) + "/" + twoDigit(date.getYear()+1900) + " " + concatStr + twoDigit(date.getHours())+":"+twoDigit(date.getMinutes());
		}

		var activity = !{activity}
		var last_activity;



		function updateActivity(){
			if  (last_activity === activity) return;
			document.getElementById("activity").innerHTML = ""
			for (var i in activity){
				last_activity = activity
				var time = genTimeString(Number(activity[i].time));

				var name = activity[i].name;
				if (name==1){
					var type = "good";
					var overall = "Create Stream";
					var summary = "User create live stream event";	
					var details = "Successfully create live stream event"
				} else if (name==2){
					var type = "good";
					var overall = "Start Live Event";
					var summary = "User start live stream";	
					var details = "Viewer now can watch stream"
				} if (name==3){
					var type = "ok";
					var overall = "End Stream";
					var summary = "User end live stream event";	
					var details = "Successfully end live stream event"
				} if (name==4){
					var type = "good";
					var overall = "Online";
					var summary = "User push video to the stream";	
					var details = "We found video signal on our server"
				} if (name==5){
					var type = "nodata";
					var overall = "Offline";
					var summary = "User unpublish video";	
					var details = "We receive unpublish signal from user"
				} if (name==6){
					var type = "ok";
					var overall = "Processing Data";
					var summary = "";	
					var details = "Live data is processing for VOD view"
				} if (name==7){
					var type = "good";
					var overall = "Processed Data";
					var summary = "";	
					var details = "Finish prepare data for VOD view"
				}
				addActivity(type,overall,time,summary,details)
			}
		}
		
	form#statusStreamForm
		input(type="hidden" name="aliasId" value="#{aliasId}")
	form#actionStreamForm
		input(type="hidden" name="aliasId" value="#{aliasId}")
		input(id="publish" type="hidden" name="publish" value="#{aliasId}")
		input(id="schedule" type="hidden" name="schedule" value="")
	script(type="text/javascript" src='//static.mecloud.vn/js/bootstrap-datepicker.js')
	script.
		$('#schedule_date').datepicker();
		
		var loopCheck = setInterval(function(){
			checkStatus(document.getElementById("statusStreamForm"));
			function checkStatus(obj){
				var fd = new FormData(obj);
				$.ajax({
					method:"post",
					url:"/live/status",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,  // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType:"json",
					success: function(resp){
						activity = resp.activity
						updateActivity()

						document.getElementById("realtimeInfo").innerHTML = resp.realtime
							
						if (resp.signal == false) {
							document.getElementById("statusIcon").classList.remove("online")
							document.getElementById("statusIcon").classList.add("offline")
							document.getElementById("statusLabel").innerHTML = "Signal Off"
						} else if (resp.signal == true) {
							document.getElementById("statusIcon").classList.remove("offline")
							document.getElementById("statusIcon").classList.add("online")
							document.getElementById("statusLabel").innerHTML = "Signal On"
						} else {
							document.getElementById("statusIcon").classList.remove("online")
							document.getElementById("statusIcon").classList.add("offline")
							document.getElementById("statusLabel").innerHTML = "Signal Status Unavailable"
						}

						if (resp.state == "end") { //if stream end
							clearInterval(loopCheck)
							document.getElementById("liveButton").innerHTML = "Ended"
							document.getElementById("liveButton").setAttribute("publish", "ended")
						} else {
							if (resp.publish == true){ //if already publish stream
								document.getElementById("liveButton").style["background-color"] = "red"
								document.getElementById("liveButton").classList.remove("blue")
								document.getElementById("liveButton").innerHTML = "End Live"
								document.getElementById("liveButton").setAttribute("publish", "true")
								$("#scheduleInfo").html(genTimeString(resp.publishTime,"at "));
							}
						}
					},
					error: function(){
						console.log("error")
					}
				});
			}
		},2000)

		function updateImage(obj){
			
		}

		function clickLiveButton(){
			var liveButton = document.getElementById("liveButton")
			var publish = liveButton.getAttribute("publish")
			if (publish=="false"){
				publishStream("true")
			} else if (publish =="true") {
				endStream()
			}
		}

		function schedulePublish(){
			var time = $("#schedule_date").data('datepicker').date.getTime();
			var hour = Number($("#schedule_hour").val().split(":")[0])*60*60*1000
			var minute = Number($("#schedule_hour").val().split(":")[1])*60*1000

			document.getElementById("schedule").value=time+hour+minute;

			sendScheduleInfo(document.getElementById("actionStreamForm"))
			function sendScheduleInfo(obj) {
				var fd = new FormData(obj);
				$.ajax({
					method: "post",
					url: "/live/schedule",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,   // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType: "json",
					success: function (resp) {
						
						if (resp.error==0)
							$("#scheduleInfo").html($("#schedule_date").val() + " at " + $("#schedule_hour").val());
						else {
							//TODO: notify user error, when update
						}	

						$(".btnEditPlayer").show();
						$('#liveButton').show()
						$(".btnEditPlayer").closest('.customBox').find('.contentCustomBox').show();
						$(".btnEditPlayer").closest('.customBox').find('.contentCustomBoxEdit').hide();
						$(".btnEditPlayer").closest('.wrapperCustomBox').find('.customBox').removeClass('editing');
					},
					error: function () {
						//TODO: notify user error
					}
				});
			}
		}

		function publishStream(status) {
			document.getElementById("publish").value=status;
			sendPublishStream(document.getElementById("actionStreamForm"))
			function sendPublishStream(obj) {
				var fd = new FormData(obj);
				$.ajax({
					method: "post",
					url: "/live/publish",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,  // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType: "text",
					success: function (resp) {
						document.getElementById("liveButton").style["background-color"] = "red"
						document.getElementById("liveButton").classList.remove("blue")
						document.getElementById("liveButton").innerHTML = "End Live"
						document.getElementById("liveButton").setAttribute("publish", "true")
						$('#liveButton').show()
					},
					error: function () {
						//TODO: notify user error, when update
					}
				});
			}
		}

		function endStream(){
			document.getElementById("publish").value="end";
			sendEndStream(document.getElementById("actionStreamForm"))
			function sendEndStream(obj){
				var fd = new FormData(obj);
				$.ajax({
					method:"post",
					url:"/live/end",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,  // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType:"text",
					success: function(resp){
						document.getElementById("liveButton").innerHTML = "Ended"
						$('#liveButton').show()
					},
					error: function(){
						alert("error")							
					}
				});
			}
		}

		function editInfo(obj){
			var fd = new FormData(obj);
			$.ajax({
				method:"post",
				url:"/live/edit",
				data: fd,
				enctype: 'multipart/form-data',
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				dataType:"json",
				success: function(resp){
					
				},
				error: function(){
					alert("error")							
				}
			});
		}