extends ./default.jade

block content
	link(href='//static.mecloud.vn/css/jquery.tagsinput.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/sumoselect-1.02.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/css/datepicker.css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery-ui.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/jquery.validate/jquery.validate.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/libs/meme.mesage/meme-message-1.00.css', type='text/css', rel='stylesheet')
	link(href='//static.mecloud.vn/video/css/video-custom-1.00.css', type='text/css', rel='stylesheet')

	.boxBreadcrumb
		ul.breadcrumb.clearfix
			li
				a(href='/') meCloud
				i.fa.fa-angle-right
			li.active
				| View Live Stream
	.tabsGlobal
		ul.tabs
			li.current
				a(href='#basicUpload') View
		.tabsContentGlobal
			#basicUpload.tableData.current
				.rowForm
					.leftVideoDetail
						form#statusStreamForm
							input(type="hidden" name="aliasId" value="#{aliasId}")
						h1 Live Stream Signal Status: 
							span#statusStr.btn
						#videoplayer
							|<script type="text/javascript" src="//embed.mecloud.vn/preview/#{aliasId}"></script>
					.infoVideoDetail
						h1(style='word-break: break-word;') #{title}
						button#liveButton.btn.blue.btnDefault(publish="#{publish}" style=" color: white; margin: 10px" type='button', onclick='clickLiveButton(this);') Start Live
						button#scheduleButton.blue.btn(state="off" style="color: white; margin: 10px" type='button', onclick='clickScheduleButton()') Schedule
						#scheduleInfo(style="display:none")
							p
								span.greyText(style="margin-right: 10px") Start: 
								input.formGlobal(type="text" style="display:inline; width:100px" id="datepicker_start")
								span(style="margin: 10px") at
								input.formGlobal(type="text" style="display:inline; width:50px" value="#{hour}")
								span(style="margin: 10px") Hour
								input.formGlobal(type="text" style="display:inline; width:50px"  value="#{minute}")
								span(style="margin: 10px") Minute
							button#saveScheduleButton.btn.blue.btnDefault(style=" color: white; margin: 10px" type='button', onclick='') Save Schedule
						form#actionStreamForm
							input(type="hidden" name="aliasId" value="#{aliasId}")
							input(id="publish" type="hidden" name="publish" value="#{aliasId}")
							input(id="state" type="hidden" name="state" value="")

						p
							span.greyText Channel:
							|#{channelName}
						p.greyText
							label Link Stream
							br
							input.formGlobal(style="margin: 10px" type="text" value="#{rtmp_url}" readonly)
						p.greyText
							label Key
							br
							input.formGlobal(style="margin: 10px" type="text" value="#{key}" readonly)
						p.greyText
							label Ma Nhung
							br
							textarea.formGlobal(style="margin: 10px" type="text"  rows="10" readonly)
								| <div style="width:640px; height:360px;"><script type="text/javascript">(function(){var mcle = document.createElement("script");mcle.type = "text/javascript";mcle.async = true; mcle.src = "http://embed.mecloud.vn/live/!{aliasId}?targetId=mcle-!{aliasId}&live=true";(document.getElementsByTagName("body")[0]).appendChild(mcle);})();</script><div style="text-align:center;" id="mcle-!{aliasId}">Player Loading...</div></div>

	script.
		if ("!{state}"=="end"){
			document.getElementById("liveButton").style["background-color"] = ""
			document.getElementById("liveButton").classList.add("blue")
			document.getElementById("liveButton").innerHTML = "Create New Live"
			liveButton.onclick = function () {
				window.location = "http://mecloud.vn/live"
			}
		} else {
			if (!{publish} == true) {
				document.getElementById("liveButton").style["background-color"] = "red"
				document.getElementById("liveButton").classList.remove("blue")
				document.getElementById("liveButton").innerHTML = "End Live"
				liveButton.setAttribute("publish", "true")
			}
		}


		var loopCheck = setInterval(function(){
				checkStatus(document.getElementById("statusStreamForm"));
				function checkStatus(obj){
					var fd = new FormData(obj);
					$.ajax({
						method:"post",
						url:"/live/status",
						data: fd,
						enctype: 'multipart/form-data',
						processData: false,  // tell jQuery not to process the data
						contentType: false,   // tell jQuery not to set contentType
						dataType:"json",
						success: function(resp){
							if (resp.state == "end") {
								clearInterval(loopCheck)
								document.getElementById("statusStr").innerHTML = "End Stream - Terminated"
								document.getElementById("statusStr").style["background-color"] = "red"
							} else {
								if (resp.signal == false) {
									document.getElementById("statusStr").innerHTML = "No signal"
									document.getElementById("statusStr").style["background-color"] = "red"
								} else if (resp.signal == true) {
									document.getElementById("statusStr").innerHTML = "Streaming"
									document.getElementById("statusStr").style["background-color"] = "green"
								} else {
									document.getElementById("statusStr").innerHTML = "Unvailable"
								}
							}
						},
						error: function(){
							console.log("error")
						}
					});
				}
		},2000)

		function clickScheduleButton(){
			var state = document.getElementById("scheduleButton").getAttribute("state")
			if (state == "off"){
				document.getElementById("scheduleButton").setAttribute("state","on")
				document.getElementById("scheduleInfo").style.display="block"
				document.getElementById("scheduleButton").innerHTML = "Remove Schedule"
			} else {
				document.getElementById("scheduleButton").setAttribute("state","off")
				document.getElementById("scheduleInfo").style.display="none"
				document.getElementById("scheduleButton").innerHTML = "Schedule"
			}
			
		}

		function endStream(){
			sendEndStream(document.getElementById("actionStreamForm"))
			function sendEndStream(obj){
				var fd = new FormData(obj);
				$.ajax({
					method:"post",
					url:"/live/end",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,  // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType:"text",
					success: function(resp){
						document.getElementById("liveButton").style["background-color"] = ""
						document.getElementById("liveButton").classList.add("blue")
						document.getElementById("liveButton").innerHTML = "Create New Live"
						liveButton.onclick = function(){
							window.location = "http://dev.mecloud.vn/live"
						}
					},
					error: function(){
						alert("error")							
					}
				});
			}
		}

		function publishStream() {
			document.getElementById("publish").value="true";
			sendPublishStream(document.getElementById("actionStreamForm"))
			function sendPublishStream(obj) {
				var fd = new FormData(obj);
				$.ajax({
					method: "post",
					url: "/live/publish",
					data: fd,
					enctype: 'multipart/form-data',
					processData: false,  // tell jQuery not to process the data
					contentType: false,   // tell jQuery not to set contentType
					dataType: "text",
					success: function (resp) {
						document.getElementById("liveButton").style["background-color"] = "red"
						document.getElementById("liveButton").classList.remove("blue")
						document.getElementById("liveButton").innerHTML = "End Live"
						liveButton.setAttribute("publish", "true")

					},
					error: function () {
						alert("error")
					}
				});
			}
		}



	script(src='//static.mecloud.vn/libs/jquery.datetimepicker/jquery.datetimepicker.js')
	script.
		 $( function() {
		 $( "#datepicker_start" ).datepicker();
		 $( "#datepicker_start" ).datepicker( "option", "dateFormat", "dd/mm/yy" );
		    $( "#datepicker_start" ).datepicker("setDate","!{date}");
		  } );
		function clickLiveButton(){
			var liveButton = document.getElementById("liveButton")
			var publish = liveButton.getAttribute("publish")
			if (publish=="false"){
				publishStream()
			} else if (publish =="true") {
				endStream()
			}
		}


