|(function (w, d, s) {
|	    s = document.getElementById('MeCloudLoader_MHZ9JGtc6E_x5rKW69OG5ci7FECG7hbTsriehbX0o8cCLKDZWFCJ95GHQ09');
|	    if (s){
|	        d.write('<script src="http://embed.dev.mecloud.vn/play/MHZ9JGtc6E?1473742813452726927.0"></script>');
|	        return;
|	    }
|	    d.write('<div id="MeCloudLoader_MHZ9JGtc6E_x5rKW69OG5ci7FECG7hbTsriehbX0o8cCLKDZWFCJ95GHQ09" style="position:relative;width:100%;"><div class="mecloud-placeholder" style="background-color:#dbdbdb;width:100%;padding-top:56.25%;height:30px;position:absolute !important;"><div style="position:absolute !important;top:50%;left:50%;"><img src="http://static.dev.mecloud.vn/images/videoDefault-1.01.jpg" style="top: -96px !important;position: absolute !important;left: -150px !important; margin: 0 !important;"></div></div></div>');
|	    d.write('<script src="http://embed.dev.mecloud.vn/render/MHZ9JGtc6E?targetId=MeCloudLoader_MHZ9JGtc6E_x5rKW69OG5ci7FECG7hbTsriehbX0o8cCLKDZWFCJ95GHQ09&" async></script>');
|	})(window,document)